@page
@model ServiceComplex.Pages.Products.AssignmentModel
@{
}
<link href="~/assets/css/elements/custom-tree_view.css" rel="stylesheet" type="text/css" />

    <div id="content">
    <partial name="Products/Partial/_Assignment" model="@Model.model" />
    </div>


@section scripts
{
      
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="~/plugins/treeview/custom-jstree.js"></script>
    <script src="~/assets/js/scrollspyNav.js"></script>
    <script src="~/source/js/assignment.js"></script>

        <script>
     
        
        </script>
}
