@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceComplex.Pages.BaseData.AccountClubModel
@{
}

<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="page-header">
            <div class="page-title">
                <h3>لیست مشترکین</h3>
            </div>
        </div>

        <div class="row layout-top-spacing" id="cancel-row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="text-center">
                        <a asp-page="/BaseData/CreateAccountClub" class="btn btn-success btn-rounded btn-sm">افزودن مشترک جدید</a>
                    </div>
                    <div class="table-responsive mb-4 mt-4">
                        <table id="dataTable_1" class="table table-hover table-bordered cell-border row-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>شماره اشتراک</th>
                                    <th>تاریخ تولد</th>
                                    <th>نوع مشترک</th>
                                    <th>درصد تخفیف</th>
                                    <th>رتبه مشترک</th>
                                    <th>موبایل</th>
                                    <th>جنسیت</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>

        $(document).ready(function () {
            bindDatatable();
        });

        function bindDatatable() {
            datatable = $('#dataTable_1')
                .DataTable({
                    "sAjaxSource": "/BaseData/AccountClub?handler=Data",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                        "sInfo": "صفحه _PAGE_ از _PAGES_",
                        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                        "sSearchPlaceholder": "جستجو کنید...",
                        "sLengthMenu": "نتایج :  _MENU_",
                    },
                    "columns": [
                        {
                            "data": "AccClbName",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbCode",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "ShamsiBirthDay",
                            "autoWidth": true,
                            "searchable": true
                        },

                        {
                            "data": "AccClubType",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClubDiscount",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccRatioText",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbMobile",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbSexText",
                            "autoWidth": true,
                            "searchable": true
                        },

                        {
                            data: null,
                            render: function (data, row, full) {
                                return generateButton(data);
                            },
                        }

                    ]
                });

            function generateButton(data) {

                return `<center><a href="/BaseData/AccountClub?handler=Details&id=${data.AccClbUid}" class="btn btn-warning btn-rounded btn-sm">ویرایش</a>&nbsp; <button onclick="Remove('${data.AccClbUid}')" class="btn btn-danger btn-rounded btn-sm"> حذف </button></center>`
            };

        }


        function Remove(id) {

            swal({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نیست!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'حذف',
                padding: '2em'
            }).then(function (result) {

                if (result.value) {

                    $.ajax({
                        url: "/BaseData/AccountClub?handler=Remove&id=" + id,
                        type: "get",
                        success: function (result) {
                            debugger
                            if (result.isSucceeded) {
                                swal(
                                    'موفق!',
                                    result.message,
                                    'success'
                                ).then(function () {
                                    window.location = "/BaseData/AccountClub?handler=AccountClub";
                                });
                            } else {
                                swal(
                                    'خطا!',
                                    result.message,
                                    'error'
                                )
                            }
                        }

                    })

                }
            })
        };
    </script>
}

