@page
@model ServiceComplex.Pages.BaseData.AccountClubModel
@{
}

<link href="~/assets/css/persian-datepicker.css" rel="stylesheet" />

<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
<div id="content">
 <div class="row layout-top-spacing" id="cancel-row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                <div class="widget-content widget-content-area br-6">
                    <div class="text-center">
                        <button type="button" onclick="AddAccount()"  class="btn btn-secondary btn-rounded btn-sm">افزودن مشترک جدید</button>
                    </div>
<div  class="layout-px-spacing">
    <partial name="BaseData/Partial/_AccountClub" />
</div>
</div>
</div>
</div>

</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
    <script src="~/assets/js/datepicker/persian-date.min.js"></script>
    <script src="~/source/js/basedata/AccountClub.js"></script>

    <script>

       
       
    </script>
    }