@page
@model ServiceComplex.Pages.BaseData.AccountClubModel
@{
}

    <div id="content" class="layout-px-spacing">
    <partial name="BaseData/Partial/_AccountClub" />
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
    <script src="~/assets/js/datepicker/persian-date.min.js"></script>
    <script src="~/source/js/basedata/ModifiedAccountClub.js"></script>

    <script>

        $(document).ready(function () {
            debugger
            bindDatatable();
        });

        function bindDatatable() {
            datatable = $('#dataTable_1')
                .DataTable({
                    "sAjaxSource": "?handler=Data",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                        "sInfo": "صفحه _PAGE_ از _PAGES_",
                        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                        "sSearchPlaceholder": "جستجو کنید...",
                        "sLengthMenu": "نتایج :  _MENU_",
                    },
                    "columns": [
                        {
                            "data": "AccClbName",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbCode",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbBrithday",
                            "autoWidth": true,
                            "searchable": true
                        },

                        //{
                        //    "data": "AccClubType",
                        //    "autoWidth": true,
                        //    "searchable": true
                        //},
                        //{
                        //    "data": "AccRatioType",
                        //    "autoWidth": true,
                        //    "searchable": true
                        //},
                         {
                            "data": "AccClbMobile",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbSex",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccFrJob",
                            "autoWidth": true,
                            "searchable": true
                        },
                       
                        {
                            data: null,
                            render: function (data, row, full) {
                                return generateButton(data);
                            },
                        }

                    ]
                });

            function generateButton(data) {

                return `<a title="جزییات بیشستر" onclick="showModal('${data.AccClbUid}')">
                                                <svg style="color:#2196f3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                                </svg>
                                            </a>

                                                    <a  asp-page="/BaseData/AccountClub" asp-page-handler="Edit" asp-route-id="${data.AccClbUid}" title="ویرایش" class=" mb-2 mr-2">
                                                    <svg style="color:#e2a03f !important" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2">
                                                      <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                                   </svg>
                                               </a>
                                                        <a class="" onclick="Remove('${data.AccClbUid}')" title="حذف">
                                                   <svg style="color:#e7515a" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                                       <polyline points="3 6 5 6 21 6"></polyline>
                                                       <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                                       <line x1="10" y1="11" x2="10" y2="17"></line>
                                                       <line x1="14" y1="11" x2="14" y2="17"></line>
                                                   </svg>
                                               </a>` ;
            };

        }

    </script>
    }