@page
@model ServiceComplex.Pages.BaseData.ContractModel
@inject Application.BaseData.IBaseDataService _service
@{
}


<link href="~/assets/css/persian-datepicker.css" rel="stylesheet" />

<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

<style>
    .border-none {
        border: none !important;
    }

    input[readonly] {
        background: no-repeat !important;
        cursor: default !important;
        color: darkslategrey;
    }
</style>
<div id="content" class="main-content ">
    <partial name="BaseData/Partial/_Contract" />
</div>

<div class="modal fade" id="createContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <div class="form-row">
                    <h5 class="modal-title text-center"> ایجاد قرارداد جدید : </h5>
                    <div id="CreateError" style="display:none">
                        <span id="error" class="alert alert-danger text-center">عنوان قرارداد تکراری است</span>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <form method="post" class="needs-validation" asp-page="/BaseData/Contract" asp-page-handler="Create" name="submitForm" id="CreateForm">
                <div class="modal-body">

                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-6 mb-5">
                                <label>عنوان قرار داد:</label>
                                <input id="CntTitle_create" name="CntTitle" type="text" class="form-control  ">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label for=""> شماره قرارداد <span class="error">*</span></label>
                                <input id="CntContractNum_create" name="CntContractNum" type="text" class=" form-control" placeholder="شماره قرارداد">
                            </div>

                        </div>
                        
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for=""> تاریخ شروع <span class="error">*</span></label>
                                    <input id="CntStartDateShamsi_create" name="CntStartDateShamsi" type="text" class=" form-control flatpickr datePicker flatpickr-input active" placeholder="تاریخ شروع">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for=""> تاریخ پایان <span class="error">*</span></label>
                                    <input id="CntEndDateShamsi_create" name="CntEndDateShamsi" type="text" class=" form-control flatpickr datePicker flatpickr-input active" placeholder="تاریخ پایان">
                                </div>
                        </div>

                       
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>نوع:</label>
                                <select id="CntType_create" name="CntType" class="form-control" required>
                                    <option value="0" default="" selected="">سقف اعتبار</option>
                                    <option value="1">تخفیف درصدی</option>
                                    <option value="2">تخفیف ریالی</option>

                                </select>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="n-chk mt-40">
                                    <label class="new-control new-checkbox checkbox-primary Current-color">
                                        <input id="superseded"  type="checkbox" class="Current-color new-control-input product-timing">
                                        <span class="new-control-indicator"></span>جایگزین قرارداد دیگری شود
                                    </label>
                                </div>
                            </div>                                             
                            <div class="form-group col-md-6" id="contractSelection" style="display:none">
                          <label for=""> قرارداد قبلی </label>
                                <select name="CntFrContract" id="CntFrContract" asp-items="@(new SelectList(_service.SelectOptionContract(),"Value","Text"))" type="text" class="form-control">
                                  <option value="0">--انتخاب کنید--</option>
                            </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" onclick="saveCreate()" id="saveChanges" value="ذخیره " />
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="editContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px !Important">
            <div class="modal-header">
                <div class="form-row">
                    <h5 class="modal-title text-center"> ویرایش : </h5>
                    <div id="EditError" style="display:none">
                        <span id="editError" class="alert alert-danger text-center">نام قرارداد تکراری است</span>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <form method="post" class="needs-validation"  asp-page="/BaseData/Contract" asp-page-handler="Edit" name="submitForm" id="EditForm">
                <div class="modal-body">

                    <div class="modal-body">

                        <div class="widget-content">
                            <div class="form-row">
                                <div class="col-md-6 mb-5">
                                    <label>عنوان قرار داد:</label>
                                    <input id="CntTitle" name="CntTitle" type="text" class="form-control  ">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for=""> شماره قرارداد <span class="error">*</span></label>
                                    <input id="CntContractNum" name="CntContractNum" type="text" class=" form-control" placeholder="شماره قرارداد">
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for=""> تاریخ شروع <span class="error">*</span></label>
                                    <input id="CntStartDateShamsi" name="CntStartDateShamsi" type="text" class=" form-control flatpickr datePicker flatpickr-input active" placeholder="تاریخ شروع">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for=""> تاریخ پایان <span class="error">*</span></label>
                                    <input id="CntEndDateShamsi" name="CntEndDateShamsi" type="text" class=" form-control flatpickr datePicker flatpickr-input active" placeholder="تاریخ پایان">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>نوع:</label>
                                    <select id="CntType" name="CntType" class="form-control" required>
                                        <option value="0" default="" selected="">سقف اعتبار</option>
                                        <option value="1">تخفیف درصدی</option>
                                        <option value="2">تخفیف ریالی</option>

                                    </select>
                                </div>
                                <input id="CntId" name="CntId" type="text" class=" form-control" hidden/>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="saveEdit()" class="btn" >ذخیره تغییرات</button>
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                </div>
            </form>

        </div>
    </div>
</div>





@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

 <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
<script src="~/assets/js/datepicker/persian-date.min.js"></script>
    <script src="~/Source/Js/BaseData/Contract.js"></script>

    <script>

      
    </script>
}



