@page
@model ServiceComplex.Pages.BaseData.CreateAccountClubModel
@{
    ViewData["Title"] = "ایجاد مشترک";
}

<link href="~/assets/css/persian-datepicker.css" rel="stylesheet" />

<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="row">
            <div id="tabsAlignments" class="col-lg-12 col-12 layout-spacing">
                <div class="widget-content widget-content-area justify-tab">
                    <form method="post" enctype="multipart/form-data" class="needs-validation" id="submitAddForm" asp-for="submitAddForm">
                        <div class="tab-content" id="justifyTabContent">
                            <div class="tab-pane fade show active" id="justify-home" role="tabpanel" aria-labelledby="justify-home-tab">
                                <div class="row layout-top-spacing" id="cancel-row">
                                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                        <div class=" br-6">
                                            @if (ViewData["ErrorMessage"] != null)
                                            {
                                                <span class="alert alert-danger text-center">فرم هارا به درستی پر نکرده اید.</span>
                                            }
                                            <div class="row">
                                                <div class=" col-lg-12 col-sm-12">
                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-3">
                                                            <label for=""> نام <span class="error">*</span></label>
                                                            <input asp-for="Command.AccClbName" type="text" class="form-control" placeholder="نام">
                                                            <span asp-validation-for="Command.AccClbName" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> شماره اشتراک <span class="error">*</span></label>
                                                            <input asp-for="Command.AccClbCode" type="number" class="form-control" placeholder="شماره اشتراک">
                                                            <span asp-validation-for="Command.AccClbCode" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> تاریخ تولد <span class="error">*</span></label>
                                                            <input asp-for="Command.ShamsiBirthDay" type="text" class=" form-control flatpickr datePicker flatpickr-input active" placeholder="تاریخ تولد">
                                                            <span asp-validation-for="Command.ShamsiBirthDay" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for=""> موبایل </label>
                                                            <input asp-for="Command.AccClbMobile" type="number" class="form-control" placeholder="موبایل">
                                                            <span asp-validation-for="Command.AccClbMobile" class="error"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-3">
                                                            <label for=""> نام معرف </label>
                                                            <select asp-for="Command.AccClbParentUid" type="text" asp-items="@(new SelectList(Model.Account,"Id","Name"))" class="select2">
                                                                <option>--انتخاب کنید--</option>
                                                            </select>
                                                            <span asp-validation-for="Command.AccClbParentUid" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> کد ملی </label>
                                                            <input asp-for="Command.AccClbNationalCode" type="number" class="form-control" placeholder="کد ملی">
                                                            <span asp-validation-for="Command.AccClbNationalCode" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for="">تلفن 1</label>
                                                            <input asp-for="Command.AccClbPhone1" type="number" class="form-control" placeholder="تلفن 1">
                                                            <span asp-validation-for="Command.AccClbPhone1" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="">تلفن 2</label>
                                                            <input asp-for="Command.AccClbPhone2" type="number" class="form-control" placeholder="تلفن 2">
                                                            <span asp-validation-for="Command.AccClbPhone2" class="error"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-3">
                                                            <label for=""> رتبه مشتری </label>
                                                            <select asp-for="Command.AccRateUid" asp-items="@(new SelectList(Model.Rating,"AccRateUid","AccRateName"))" type="text" class="select2">
                                                                <option>--انتخاب کنید--</option>
                                                            </select>
                                                            <span asp-validation-for="Command.AccRateUid" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> نوع اشتراک </label>
                                                            <select asp-for="Command.AccClbTypUid" asp-items="@(new SelectList(Model.ClupType,"AccClbTypUid","AccClbTypName"))" type="text" class="select2">
                                                                <option>--انتخاب کنید--</option>
                                                            </select>
                                                            <span asp-validation-for="Command.AccClbTypUid" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for="">کد پستی </label>
                                                            <input asp-for="Command.AccClbPostalCode" type="number" class="form-control" placeholder="کد پستی">
                                                            <span asp-validation-for="Command.AccClbPostalCode" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> جنسیت </label>
                                                            <select asp-for="Command.AccClbSex" type="text" class="form-control">
                                                                <option>--انتخاب کنید--</option>
                                                                <option value="1">زن</option>
                                                                <option value="0">مرد</option>
                                                            </select>
                                                            <span asp-validation-for="Command.AccClbSex" class="error"></span>
                                                        </div>


                                                    </div>

                                                    <p><strong class="text-info">سایر اطلاعات </strong></p>
                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-3">
                                                            <label for=""> استان </label>
                                                            <select asp-for="Command.SateUid" asp-items="@(new SelectList(Model.States,"Value","Text"))" id="state" type="text" class="select2">
                                                                <option>--انتخاب کنید--</option>
                                                            </select>
                                                            <span asp-validation-for="Command.CityUid" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <label for=""> شهر </label>
                                                            <select asp-for="Command.CityUid" id="cities" type="text" class="select2">
                                                                <option>--انتخاب کنید--</option>
                                                            </select>
                                                            <span asp-validation-for="Command.CityUid" class="error"></span>
                                                        </div>


                                                        <div class="form-group col-md-3">
                                                            <label for="">آدرس 1</label>
                                                            <input asp-for="Command.AccClbAddress" type="text" class="form-control" placeholder="آدرس 1">
                                                            <span asp-validation-for="Command.AccClbAddress" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="">آدرس 2</label>
                                                            <input asp-for="Command.AccClbAddress2" type="text" class="form-control" placeholder="آدرس 2">
                                                            <span asp-validation-for="Command.AccClbAddress2" class="error"></span>
                                                        </div>


                                                    </div>

                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-3">
                                                            <label for="">رمز عبور</label>
                                                            <input asp-for="Command.AccClbPassword" type="password" class="form-control" placeholder="رمز عبور">
                                                            <span asp-validation-for="Command.AccClbPassword" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for=""> تکرار رمز عبور</label>
                                                            <input asp-for="Command.AccClbConfirmPassword" type="password" class="form-control" placeholder="تکرار رمز عبور">
                                                            <span asp-validation-for="Command.AccClbConfirmPassword" class="error"></span>
                                                        </div>
                                                    </div>

                                                    <p><strong class="text-info">موقعیت جغرافیایی</strong></p>
                                                    <div class="form-row mb-8">

                                                        <div class="form-group col-md-3">
                                                            <input asp-for="Command.AccClbLong" type="number" class="form-control" placeholder="طول">
                                                            <span asp-validation-for="Command.AccClbLong" class="error"></span>
                                                        </div>

                                                        <div class="form-group col-md-3">
                                                            <input asp-for="Command.AccClbLat" type="number" class="form-control" placeholder="عرض">
                                                            <span asp-validation-for="Command.AccClbLat" class="error"></span>
                                                        </div>
                                                    </div>




                                                    <div class="form-row mb-8">
                                                        <div class="form-group col-md-12">
                                                            <label for=""> توضیحات </label>
                                                            <textarea asp-for="Command.AccClbDescribtion" type="text" class="form-control" rows="3" placeholder=" توضیحات "></textarea>
                                                            <span asp-for="Command.AccClbDescribtion" class="error"></span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <button id="addSubmit" style="margin-right:90%" type="submit" class="btn btn-info btn-sm btn-rounded pull-left">تایید فرم</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
    <script src="~/assets/js/datepicker/persian-date.min.js"></script>
    <script src="~/source/js/basedata/ModifiedAccountClub.js"></script>

    <script>

        $(document).ready(function () {
            debugger
            bindDatatable();
        });

        function bindDatatable() {
            datatable = $('#dataTable_1')
                .DataTable({
                    "sAjaxSource": "/BaseData/CreateAccountClup?handler=Data",
                    "bServerSide": true,
                    "bProcessing": true,
                    "bSearchable": true,
                    "order": [[1, 'asc']],
                    "language": {
                        "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>' },
                        "sInfo": "صفحه _PAGE_ از _PAGES_",
                        "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                        "sSearchPlaceholder": "جستجو کنید...",
                        "sLengthMenu": "نتایج :  _MENU_",
                    },
                    "columns": [
                        {
                            "data": "AccClbName",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbCode",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbBrithday",
                            "autoWidth": true,
                            "searchable": true
                        },

                        {
                            "data": "AccClubType",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccRatioType",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbSexText",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            "data": "AccClbMobile",
                            "autoWidth": true,
                            "searchable": true
                        },
                        {
                            data: null,
                            render: function (data, row, full) {
                                return generateButton(data);
                            },
                        }

                    ]
                });

            function generateButton(data) {

                return `<center><button onclick="Edit('${data.AccClbUid}')" class="btn btn-warning btn-rounded btn-sm">ویرایش</button>&nbsp; <button onclick="Remove('${data.Id}')" class="btn btn-danger btn-rounded btn-sm"> حذف </button></center>`
            };

        }

    </script>
}
