
@model Application.BaseData.Dto.ContractVM
@inject Application.Product.Category.IProductCategory _service
@{

}
<div class="layout-px-spacing">
        <div class="page-header">
            <div class="page-title layout-top-spacing">
                <h3>نرخ قرارداد ها</h3>
            </div>
        </div>

<div class="row  layout-top-spacing" id="cancel-row">

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                
                <div class="widget-content widget-content-area br-6">
                    <div class="form-row">
                        @switch (Model.CntType)
                        {
                            case 0:
                                <div class="form-group col-md-3">
                                    <label for="">سقف اعتبار</label>
                                    <input id="CdCreditLimit" type="number" class="form-control" placeholder="سقف اعتبار">
                                </div>
                                break;
                            case 1:
                                <div class="form-group col-md-3">
                                    <label for="">درصد تخفیف</label>
                                    <input id="CdDiscountPercent" type="number" class="form-control" placeholder="درصد تخفیف">
                                </div>
                                break;
                             case 2:
                                <div class="form-group col-md-3">
                                    <label for="">مبلغ تخفیف</label>
                                    <input id="CdDiscountRial" type="number" class="form-control" placeholder="مبلغ تخفیف">
                                </div>
                                break;
                        }
                    <div class="form-group col-md-7">
                                <label>اعمال برای</label>
                            <select id="CntType_create" name="CntType" asp-items="_service.CategorySelectOption()" class="form-control" required>
                                    <option value="0" default="" selected="">انتخاب همه</option>
                            </select>
                    </div>
                           
                    <div class="form-group col-md-1 ">
                     <label></label>
                    <button onclick="AddProducts()" type="button" class="form-control btn btn-success" >+</button>
                    </div>



                    </div>
                    <div class="form-row">
                    <ul class="list-group" id="Products">
                        @for(int i = 0; i < Model.contractDetails.Count; i++)
                        {
                            <li class="list-group-item">@Model.contractDetails[i].CdFrContractNavigation.CntTitle</li>
                        }
                    </ul>
                    </div>
                    </div>
                </div>
            </div>

        </div>
</div>
